extends /includes/layout
block styles
  link(rel='stylesheet', href='/bootstrap-toggle/css/bootstrap-toggle.min.css')
block scripts
  script(src='/bootstrap-toggle/js/bootstrap-toggle.min.js')
block navigation
  include /includes/navigation
block content
  div.canvas
    div.container
      div.row.dashboard-title=text('settings')
      div.row.dashboard
        include /flash
        div#settings-container
          div.row
            form(method="POST" autocomplete="nope").form-horizontal
              div.col-md-6
                h3.form-group.text-center=text('general')
                div.form-group
                  label.control-label.col-sm-5(for='administradorSettingsNotification')=text('notifications')
                  div.col-sm-3
                    input#administradorSettingsNotification.form-control(name='administradorSettingsNotification' data-toggle="toggle" data-on=text('yes') data-off=text('no') data-onstyle="success" data-offstyle="danger" checked=administrador.settings.receive_notifications, type='checkbox' value=administrador.settings.receive_notifications ? administrador.settings.receive_notifications : '')
                div.form-group
                  label.control-label.col-sm-5(for='administradorSettingsPrivacy')=text('profile') + ' ' + text('public')
                  div.col-sm-3
                    input#administradorSettingsPrivacy.form-control(name='administradorSettingsPrivacy', data-toggle="toggle" data-on=text('yes') data-off=text('no') data-onstyle="success" data-offstyle="danger" checked=administrador.settings.public_profile type='checkbox' value=administrador.settings.public_profile ? administrador.settings.public_profile : '')
                div.form-group
                  label.control-label.col-sm-5(for='administradorSettingsLang')=text('language')
                  div.col-sm-3
                    select.form-control#administradorSettingsLang(name='administradorSettingsLang')
                      if administrador.languages
                        each lang in administrador.languages
                          if administrador.settings.language == lang.value
                            option(value=lang.value selected)= lang.key
                          else
                            option(value=lang.value)= lang.key
              div.col-md-6
                h3.form-group.text-center=text('change_password')
                div.form-group
                  label.control-label.col-sm-3(for='administradorSettingsPwd')=text('password') + ' ' + text('current')
                  div.col-sm-6
                    input#administradorSettingsPwd.form-control(name='administradorSettingsPwd', placeholder=text('password') + ' ' + text('current'), type='password')
                div.form-group
                  label.control-label.col-sm-3(for='administradorSettingsNPwd')=text('new') + ' ' + text('password')
                  div.col-sm-6
                    input#administradorSettingsNPwd.form-control(name='administradorSettingsNPwd', placeholder=text('new') + ' ' + text('password'), type='password')
                div.form-group
                  label.control-label.col-sm-3(for='administradorSettingsRPwd')=text('repeat') + ' ' + text('password')
                  div.col-sm-6
                    input#administradorSettingsRPwd.form-control(name='administradorSettingsRPwd', placeholder=text('repeat') + ' ' + text('password'), type='password')
                      
              div.clearfix
              hr(style="min-width:100%; background-color:#a1a1a1 !important; height:1px;")
              div.text-center
                a.btn.btn-warning(href=administrador.routes.root role="button")=text('back')
                button.btn.btn-success(type="submit")=text('update')
