extends /includes/layout
block styles
  link(rel='stylesheet', href='/bootstrap-toggle/css/bootstrap-toggle.min.css')
block scripts
  script(src='/bootstrap-toggle/js/bootstrap-toggle.min.js')
block navigation
  include /includes/navigation
block content
  div.canvas
    div.container
      div.row.dashboard-title=text('settings')
      div.row.dashboard
        include /flash
        div#settings-container
          div.row
            form(method="POST" autocomplete="nope").form-horizontal
              div.col-md-6
                h3.form-group.text-center=text('general')
                div.form-group
                  label.control-label.col-sm-5(for='profesorSettingsNotification')=text('notifications')
                  div.col-sm-3
                    input#profesorSettingsNotification.form-control(name='profesorSettingsNotification' data-toggle="toggle" data-on=text('yes') data-off=text('no') data-onstyle="success" data-offstyle="danger" checked=profesor.settings.receive_notifications, type='checkbox' value=profesor.settings.receive_notifications ? profesor.settings.receive_notifications : '')
                div.form-group
                  label.control-label.col-sm-5(for='profesorSettingsPrivacy')=text('profile') + ' ' + text('public')
                  div.col-sm-3
                    input#profesorSettingsPrivacy.form-control(name='profesorSettingsPrivacy', data-toggle="toggle" data-on=text('yes') data-off=text('no') data-onstyle="success" data-offstyle="danger" checked=profesor.settings.public_profile type='checkbox' value=profesor.settings.public_profile ? profesor.settings.public_profile : '')
                div.form-group
                  label.control-label.col-sm-5(for='profesorSettingsLang')=text('language')
                  div.col-sm-3
                    select.form-control#profesorSettingsLang(name='profesorSettingsLang')
                      if profesor.languages
                        each lang in profesor.languages
                          if profesor.settings.language == lang.value
                            option(value=lang.value selected)= lang.key
                          else
                            option(value=lang.value)= lang.key
              div.col-md-6
                h3.form-group.text-center=text('change_password')
                div.form-group
                  label.control-label.col-sm-3(for='profesorSettingsPwd')=text('password') + ' ' + text('current')
                  div.col-sm-6
                    input#profesorSettingsPwd.form-control(name='profesorSettingsPwd', placeholder=text('password') + ' ' + text('current'), type='password')
                div.form-group
                  label.control-label.col-sm-3(for='profesorSettingsNPwd')=text('new') + ' ' + text('password')
                  div.col-sm-6
                    input#profesorSettingsNPwd.form-control(name='profesorSettingsNPwd', placeholder=text('new') + ' ' + text('password'), type='password')
                div.form-group
                  label.control-label.col-sm-3(for='profesorSettingsRPwd')=text('repeat') + ' ' + text('password')
                  div.col-sm-6
                    input#profesorSettingsRPwd.form-control(name='profesorSettingsRPwd', placeholder=text('repeat') + ' ' + text('password'), type='password')
                      
              div.clearfix
              hr(style="min-width:100%; background-color:#a1a1a1 !important; height:1px;")
              div.text-center
                a.btn.btn-warning(href=profesor.routes.root role="button")=text('back')
                button.btn.btn-success(type="submit")=text('update')
